@charset "utf-8";
/* CSS Document */

img{ 
	width:100%;
	height:100%;
}


body{
	background-color:black;
	
}

button{
	background-color:black;
	width:100%;
	height:100%;
	color:aqua;
	transition: color 1s;
	border:none;
	
}

button:hover{
	background-color:black;
	width:100%;
	height:100%;
	color:white;
	
}


.top, h1{
	color:aqua;
	font-size:37.1px;
	
	
}

.price, p{
	color:aqua;
	font-size:35px;
	
	
}

.buy, a, p{
	color:aqua;
	font-size:25px;
	transition: color 1s;
	text-decoration:none;
}


.buy,a, p:hover{
	background-color:black;
	width:100%;
	height:100%;
	color:white;
	text-decoration:none;
	
}