@charset "utf-8";
/* CSS Document */

.top-chungus{
	margin-top:0px;
	background-color:lightgrey;
	height:70px;
	width:100%;
}

h1{
	
	margin-top:2px;
	
}

img{
	
	height:100%;
	width:100%;
}