@charset "utf-8";
/* CSS Document */



img{
	
	border-radius:15px;
	
	
}

#ChicagoIL{
	
	
	margin-top:100px;
	width:100%;
	height:800px;
	
}

#LosAngelesCA{
	
	
	margin-top:100px;
	width:100%;
	height:800px;
	
}

#NewYorkNY{
	
	
	margin-top:100px;
	width:100%;
	height:800px;
	

}

#IslaMujeresMEX{
	
	
	margin-top:100px;
	width:100%;
	height:800px;
	
}


#LondonENG{
	
	
	margin-top:100px;
	width:100%;
	height:800px;
	f
}

#HongKongCHN{
	
	
	margin-top:100px;
	width:100%;
	height:800px;
	
}



#base{
	
	width:100%;
	
}

footer{
float:left;
	width:100%;
	
	
	
}




